/* Setting the general layout for the pages */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Creating the vertical navbar and stabiizing its position */
header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}

.vert-nav {
    background-color: navy;
    flex-grow: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 3px white solid;
}

ul li {
    width: 100%;
    display: flex;
    align-items: center;
}

ul li:hover {
    background-color: darkslategray;
}

ul li:last-child:hover {
    background-color: red;
}

ul li:not(:last-child) {
    border-bottom: 3px white solid;
}

ul li:last-child {
    border-top: 3px white solid;
}

ul li:nth-of-type(6) {
    margin-top: auto;
}

ul li a {
    text-decoration: none;
    color: white;
    line-height: 3;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: limegreen;
}

/* Stylings for the main div as well as its elements */
/* CSS for index.php */

.main {
    width: 80%;
    position: relative;
    left: 20%;
    background-color: lightgoldenrodyellow;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 34px;
    text-align: center;
    color: red;
}

p {
    font-size: 22px;
    text-align: center;
}

.features {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px 100px;
    height: 300px;
    width: 300px;
    border: 7px solid;
    border-image: linear-gradient(45deg, red, limegreen, gold, dodgerblue, darkorange, navy);
    border-image-slice: 1;
    transition: 0.5s ease;
}

.image {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.overlay {
    opacity: 0;
    display: flex;
    align-self: center;
    text-align: center;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    background-color: limegreen;
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.overlay a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.box:hover {
    transform: translateY(-25px);
}

.box:hover .image {
    opacity: 35%;
}

.box:hover .overlay {
    opacity: 100%;
}

.link {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px 0;
}

.link a {
    color: blue;
    font-size: 20px;
}

.link a:hover {
    color: red;
}

/* CSS for tos.php, pp.php and copyright.php */

.viewbox {
    display: flex;
    justify-content: center;
    background-color: white;
}

form {
    margin: 20px 0;
}

h2 {
    text-align: center;
    font-size: 30px;
}

textarea {
    margin: 15px 0;
    height: 500px;
    width: 1000px;
    border: 4px white solid;
    background-color: black;
    color: white;
    border: 5px orangered solid;
}

.buttons {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

input[type=submit] {
    margin-left: auto;
    margin-right: auto;
}

.save {
    background-color: green;
    color: white;
    font-size: 24px;
    width: 200px;
    height: 50px;
}

/* CSS for about-us.php */

.team-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px 100px;
}

.avatar-img {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type=file] {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border: 3px black solid;
}

.member-name, .member-sid {
    margin: 10px 0;
    font-weight: 900;
}

